apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: shoppingcart
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: shoppingcart
        track: stable
        version: 0.0.1
    spec:
      containers:
        - name: shoppingcart-backend
          image: gcr.io/funkorocks-202213/shoppingcart/backend:0.0.1
          ports:
            - containerPort: 8080